
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Fonction pour vérifier si un utilisateur a le rôle 'admin'
    function isAdmin() {
      // Vérifie si l'utilisateur est authentifié et si son document utilisateur a le rôle 'admin'
      return request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    // Collection des utilisateurs : seuls les admins peuvent lire les rôles.
    match /users/{userId} {
      allow read, write: if request.auth.uid == userId || isAdmin();
    }

    // Avis : Tout le monde peut lire et écrire.
    // Les admins peuvent tout faire (modérer, supprimer).
    match /reviews/{reviewId} {
      allow read, create: if true;
      allow update, delete: if isAdmin();
    }

    // Actualités : Tout le monde peut lire. Seuls les admins peuvent écrire/supprimer.
    match /news/{newsId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // Promotions (Carrousel) : Tout le monde peut lire. Seuls les admins peuvent écrire/supprimer.
    match /promotions/{promotionId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // Messages de support : Tout le monde peut en créer. Seuls les admins peuvent les lire/mettre à jour.
    match /supportMessages/{messageId} {
      allow create: if true;
      allow read, update, delete: if isAdmin();
    }
  }
}
